.one {
  font-size: 1.4rem;
  font-weight: 900;
  color: #2f3e46;
}
.two {
  font-size: 1.2rem;
  font-weight: 700;
  color: #354f52;
}
.three {
  font-size: 1rem;
  font-weight: 500;
  color: #52796f;
}
.four {
  font-size: 0.8rem;
  font-weight: 400;
  color: #84a98c;
}
.five {
  font-size: 0.6rem;
  font-weight: 300;
  color: #cad2c5;
}
