:root {
  font-family: "Carlito", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

#root {
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

a,
a:visited {
  color: inherit;
}

p {
  max-width: 75ch; /* 75 characters */
  text-wrap: pretty; /* prevent orphan words */
}

li {
  list-style: none;
}

@media (prefers-reduced-motion: no-preference) {
  /* Make smooth scrolling on target objects*/
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem; /* Leave gap at the top */
  }
}
